.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}
li{
    list-style: none;
}
button{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 200px;
    border: 0px;
    background-color: aqua;
    color: white;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
button:hover{
    opacity: 0.5;
}